* {
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui;
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'knewaveregular';
    src: url('../fonts/knewave-regular-webfont.woff2') format('woff2'),
         url('../fonts/knewave-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.title {
    font-family: knewaveregular,  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

body {
    display: flex;
    height: 100vh;
}

.left {
    background: no-repeat url(../images/adele-payman-2oYMwuFgnTg-unsplash.jpg);
    background-size: contain;
    flex: 1 0 auto;

}

.left, .right {
    height: 100vh;

}

.title {
    font-weight: 900;
    font-size: 50px;
}

.title-container {
    background-color: rgba(62, 58, 58, 0.636);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

img {
    height: 100px;
}
